button {
  width: 250px;
  height: 80px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 35px;
}

button:hover{
  background-color: #16a34a;
  border: 1px solid #16a34a; 
}
.click-button{
background-color: #0074D9;
border: 1px solid #0074D9; 
}
.restart-button{
  background-color: #f97316;
  border: 1px solid #f97316; 
}